<div class="jumbotron">
  <h1 align="center">Sobre</h1>
  <br/><br/>
  <p>Aqui são apresentadas todas as informações sobre a equipe desenvolvedora e sobre o objetivo da aplicação.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a></p>

</div>