<div class="jumbotron">
  <h1 align="center">Contato</h1>
  <br/><br/>
  <p>Esta página possui informações para contato como telefone, email e localização.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a></p>
</div>